<p>
  <b>Category:</b>
  <%= @category.name %>
</p>
<p>
  <b>Type</b>
  <%= @category.category_type %>
</p>
<p>
  <b>Image:</b>
  <%= image_tag(@category.photo.url(:mini), class: "thumbnail") %>
</p>
<%= link_to 'Add Product', new_category_product_path(@category, @product) ,:class=>"btn btn-primary"  , :style => "text-decoration: none"%>